@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

/* =========================
   Bricolage Grotesque
   ========================= */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("./assets/fonts//BricolageGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* =========================
   DM Sans
   ========================= */
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DmSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DmSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DmSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DmSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DmSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-dm-light: "DM Sans", 300;
  --font-dm-medium: "DM Sans", 500;
  --font-dm-semibold: "DM Sans", 600;
  --font-dm-semibold-italic: "DM Sans", 600 italic;
  --font-dm-bold: "DM Sans", 700;
  --font-bricolage: "Bricolage Grotesque";

  --color-primary: #252441;
  --color-secondary: #2f2f49;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252441;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a395b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #02012b;
  padding: 30px;
  color: #fefeff;
  background: #02012b;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  background: linear-gradient(
    90deg,
    rgba(2, 1, 43, 1) 0%,
    rgba(2, 1, 43, 1) 35%,
    rgb(1, 1, 59) 100%
  );

  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}
